@{ Layout = null; }
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card mt-5">
            <div class="card-header">
                <h4 class="card-title">Forgot Password</h4>
            </div>
            <div class="card-body">
                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label>Enter your Register Email :</label>
                        <input class="form-control" name="Email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
