@{ Layout = null; }
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card mt-5">
            <div class="card-header">
                <h4 class="card-title">Update Password</h4>
            </div>
            <div class="card-body">
                <form asp-action="UpdatePassword" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label>Enter your Register Email :</label>
                        <input class="form-control" name="Email" placeholder="Email...">
                        <label>Enter New Password :</label>
                        <input class="form-control" name="Password" placeholder="Password...">
                        <label>Confirm New Password :</label>
                        <input class="form-control" name="CPassword" placeholder="Password...">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (ViewBag.Message != null)
    {
<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>}
</body>
</html>
